/* global styles: */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
}

body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
}

/* flexbox styles: */

.headerContainer, .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.missionContainer, .teaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.threeImgContainer, .twoImgContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* header styles: */

header {
  background-color: inherit;
  border-bottom: 1px solid seashell;
  height: 69px;
  opacity: inherit;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logoContainer img {
  height: 50px;
  margin-left: 10px;
}

nav {
  margin-right: 5px;
}

nav span {
  margin: 0px 10px;
}

nav a {
  color: inherit;
  text-decoration: underline;
}

/* main content styles: */

.mainContainer {
  margin: auto;
}

/* mission section styles: */

.missionContainer {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 70px;
  margin: auto;
  width: 1200px;
}

.missionItem {
  background-color: black;
  opacity: 0.9;
  width: inherit;
}

/* tea section styles: */

.teaContainer {
  margin: auto;
  opacity: 0.9;
  padding: 60px 0px;
  width: 1000px;
}

.teaContainer h2 {
  margin-bottom: 18px
}

.teaContainer>h4 {
  margin-top: 0px;
}

.ImgContainer h4 {
  margin-top: 10px;
}

.twoImgContainer {
  margin: auto;
  width: 665px;
}

.threeImgContainer {
  width: 1000px;
}

.imgItem img {
  height: 200px;
  margin-bottom: 0px;
  width: 300px;
}

/* locations section styles: */

.locationContainer {
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: auto;
  padding-top: 75px;
  width: 1200px;
}

.locationItem {
  margin: 15px auto;
}

.addressItem {
  background-color: black;
  display: inline-block;
  margin: 0px 20px;
  opacity: 1;
  padding: 15px 0px;
  width: 300px;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 35px;
  margin-bottom: 15px;
}

/* footer styles: */

footer {
  opacity: 0.9;
}

.contactContainer {
  height: 200px;
}

#copyrightMention {
  padding-left: 20px;
  text-align: left;
}
