/* global scope and shared styles: */

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  background-color: black;
  color: seashell;
}

body, header, .missionItem, .teaContainer, footer {
  opacity: 0.9;
}

body, header, .missionItem, .addressItem {
  background-color: black;
}

/* flexbox styles: */

.headerContainer, .navContainer ul {
    /* These vendor prefix properties are here to solve some compatibility problems
    with some browser versions when using flexbox: */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    /*---------------------------------------------------------------------------*/
    display: flex;

    /* These vendor prefix properties are here to solve some compatibility problems
    with some browser versions when using flexbox: */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    /*---------------------------------------------------------------------------*/
    align-items: center;

    /* These vendor prefix properties are here to solve some compatibility problems
    with some browser versions when using flexbox: */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /*----------------------------------------------------------------------------*/
    justify-content: space-between;
}

.missionContainer, .teaContainer {
  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /*-----------------------------------------------------------------------------*/
  display: flex;

  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  /*------------------------------------------------------------------------------*/
  flex-direction: column;

  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  /*------------------------------------------------------------------------------*/
  align-items: center;

  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /*------------------------------------------------------------------------------*/
  justify-content: center;
}

.threeImgContainer, .twoImgContainer {
  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /*------------------------------------------------------------------------------*/
  display: flex;

  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  /*------------------------------------------------------------------------------*/
  align-items: center;

  /* These vendor prefix properties are here to solve some compatibility problems
  with some browser versions when using flexbox: */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  /*-------------------------------------------------------------------------------*/
  justify-content: space-around;
}

/* header styles: */

header {
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logoContainer img {
  height: 50px;
  margin-left: 10px;
}

nav {
  margin-right: 5px;
}

nav li {
  list-style: none;
  margin: 0px 10px;
}

nav a {
  color: inherit;
  text-decoration: underline;
}

/* main content styles: */

.mainContainer {
  margin: auto;
}

/* mission section styles: */

.missionContainer {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 70px;
  margin: auto;
  width: 1200px;
}

.missionItem {
  width: inherit;
}

/* tea section styles: */

.teaContainer {
  margin: auto;
  padding: 60px 0px;
  width: 1000px;
}

.teaContainer h2 {
  margin-bottom: 18px
}

.teaContainer>h4 {
  margin-top: 0px;
}

.ImgContainer h4 {
  margin-top: 10px;
}

.twoImgContainer {
  margin: auto;
  width: 665px;
}

.threeImgContainer {
  width: 1000px;
}

.imgItem img {
  height: 200px;
  margin-bottom: 0px;
  width: 300px;
}

/* locations section styles: */

.locationContainer {
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: auto;
  padding-top: 75px;
  width: 1200px;
}

.locationItem {
  margin: 15px auto;
}

.addressItem {
  display: inline-block;
  margin: 0px 20px;
  opacity: 1;
  padding: 15px 0px;
  width: 300px;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 35px;
  margin-bottom: 15px;
}

/* footer styles: */

.contactContainer {
  height: 200px;
}

#copyrightMention {
  padding-left: 20px;
  text-align: left;
}
